<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/cs-skin-elastic.css">
</head>
<body>
<h1>hello world</h1>
<h1 th:text="${name}"></h1>
<div th:utext="${name}"></div>

<a href="hello">hello</a>

<a href="name">name</a>
<button type="button" class="btn btn-danger color-red" data-dismiss="modal">Delete</button>
<button class="btn msg-send-btn col-lg-8">sss</button>
<button >sss</button>
</body>
<script th:inline="javascript">

  var btn=document.createElement("button");
  var text = document.createTextNode([[${name}]])
  var list = document.createElement("")
  btn.appendChild(text)
  document.body.appendChild(btn);
  document.body.appendChild(text)
</script>
</html>

